.list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(159, 159, 159);
    margin: 3% 20%;
    padding: 2% 6%;
    border-radius: 10px;
    color: black;
  }