.App {
  text-align: center;
  margin: 0%;

}

.App-header {
  background-color: rgb(0, 134, 134);
  height: 50%;
}
.actions{
  display: flex;
  justify-content: center;
  background-color: rgb(159, 159, 159); 
   margin: 3% 40%;
  padding: 1% 0%;
  border-radius: 10px;
  color: black;
}
.actions .btn-fetch{
  height: 4rem;
  width: 10rem;
  background-color: aqua;
  border: 2px solid black;   
  border-radius: 45%;
  font-weight: bolder;
}
.actions .btn-fetch:hover{
  background-color: rgb(0, 134, 134);
}
.actions .btn-fetch:active{
  background-color: rgb(0, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

.movie-show .content{
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bolder;
  margin: 0% 10%;
  padding: 1% 0%;
  background-color: white;
  color: black;
}